.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: block;
}

.modal {
    display: flex;
    background: white;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    padding: 70px 40px;
    position: relative;
    justify-content: center;
}
.modal-img {
    display: flex;
    min-width: 200px;
    width: 2rem;
}

.modal-camisa {
    position: relative;
}

.modal-box-name {
    font-family: run;
    text-align: center;
    color: white;
    position: absolute;
    top: 30px;
    left: 3rem;
    font-size: 1rem;
}

.modal-box-number {
    font-family: bronx;
    text-align: center;
    color: white;
    position: absolute;
    top: 60px;
    left: 70px;
    font-size: 2.4rem;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal 0.3s;
}

